# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Node
node_modules/
.yarn/cache/
.pnp.*
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
